@import "tailwindcss";

@font-face {
  font-family: "tlb";
  src: url("../fonts/tlb.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-sans: "tlb", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-primary: #000000;
  --color-primary-muted: #707070;
  --color-secondary: #ffffff;
  --color-secondary-muted: #cecece;
  --color-surface: #f1f1f1;

  /* Base colors */
  /* --color-background: #ffffff; */
  /* --color-foreground: #1a1a1a; */
  /* --color-foreground-muted: #333333; */
  /* --color-surface: #333333; dark mode */
  /* --color-buttons: #393939; dark mode */

  --text-xs: clamp(0.6rem, 0.57rem + 0.19vw, 0.7rem);
  --text-sm: clamp(0.75rem, 0.71rem + 0.24vw, 0.82rem);
  --text-base-minus: clamp(0.875rem, 0.83rem + 0.27vw, 0.97rem);
  --text-base: clamp(1rem, 0.95rem + 0.3vw, 1.125rem);
  --text-base-plus: clamp(1.095rem, 1.02rem + 0.35vw, 1.19rem);
  --text-md: clamp(1.2rem, 1.1rem + 0.5vw, 1.45rem);
  --text-lg: clamp(1.5rem, 1.35rem + 0.78vw, 1.95rem);
  --text-xl: clamp(1.85rem, 1.62rem + 1.2vw, 2.65rem);
  --text-2xl: clamp(2.3rem, 2rem + 1.65vw, 3.55rem);
  --text-3xl: clamp(2.85rem, 2.4rem + 2.35vw, 4.69rem);
  --text-4xl: clamp(3.56rem, 3rem + 3.1vw, 5.86rem);
  --text-5xl: clamp(4.45rem, 3.75rem + 4vw, 7.32rem);
  --text-6xl: clamp(5.56rem, 4.69rem + 5.2vw, 9.15rem);

  --tracking-snug: -0.0375rem;

  --leading-none: 0.95;
  --leading-tight: 1;
  --leading-snug: 1.05;
  --leading-normal: 1.2;
  --leading-relaxed: 1.4;
  --leading-loose: 1.5;

  --breakpoint-xs: 480px;

  --radius-custom: 28px;
}

@media (max-width: 768px) {
  :root {
    --radius-custom: 22px;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    font-feature-settings:
      "dlig" on,
      "ss07" on,
      "calt" off;
    font-variation-settings: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-secondary);
    color: var(--color-primary-muted);
    font-family: var(--font-sans);
    font-weight: 400;
    @apply text-base leading-loose;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  hr {
    border-color: var(--color-surface);
  }

  svg {
    @apply w-full h-full;
  }
}

@layer components {
  .border-color-default {
    border-color: var(--color-surface);
  }

  .type-6xl,
  .type-5xl,
  .type-4xl,
  .type-3xl,
  .type-2xl,
  .type-xl {
    color: var(--color-primary);
  }

  .type-6xl {
    @apply text-6xl font-semibold leading-none tracking-snug;
  }
  .type-5xl {
    @apply text-5xl font-semibold leading-tight tracking-snug;
  }
  .type-4xl {
    @apply text-4xl font-semibold leading-tight tracking-snug;
  }
  .type-3xl {
    @apply text-3xl font-semibold leading-tight tracking-snug;
  }
  .type-2xl {
    @apply text-2xl font-semibold leading-snug tracking-snug;
  }
  .type-xl {
    @apply text-xl font-normal leading-snug tracking-snug;
  }
  .type-lg {
    @apply text-lg font-normal leading-normal;
  }

  .type-md {
    @apply text-md font-normal leading-relaxed;
  }
  .type-base-plus {
    @apply text-base-plus font-normal leading-loose;
  }
  .type-base {
    @apply text-base font-normal leading-loose;
  }
  .type-base-minus {
    @apply text-base-minus font-normal leading-loose;
  }
  .type-sm {
    @apply text-sm font-normal leading-relaxed;
  }
  .type-label {
    @apply text-xs font-normal leading-normal uppercase;
  }
  .type-caption {
    @apply text-xs font-normal leading-relaxed;
  }
  .type-nav {
    @apply text-base-plus font-[450] leading-none whitespace-nowrap w-fit;
  }

  .text-link {
    @apply hover:opacity-60 transition-opacity ease-linear;
  }
}
